<div class="container">
  <p></p>
  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-8">
      <h4>PROYECTO SOCIAL</h4>
      <h1>¿Qué tan inclusivo eres?</h1>
      <p>A trav&eacute;s de preguntas r&aacute;pidas, descubrir&aacute;s si tienes una postura inclusiva</p>

      <!--button type="button" class="btn btn-primary btn-sm">¡COMENCEMOS!</button-->
      <a class="btn btn-custom" routerLink="/questions">¡COMENCEMOS!</a>
      <p></p>

      <p class="mt-4">La variedad que no discrimina</p>
      <p>#SinExcepciones</p>

      <p>
        <a href="https://www.instagram.com/sevensushigrill/">
          <img src="https://static.vecteezy.com/system/resources/previews/018/930/692/original/instagram-logo-instagram-icon-transparent-free-png.png" class="social-icon"/>
        </a>
        <a href="https://www.tiktok.com/@sevensushigrill">
          <img src="https://static.vecteezy.com/system/resources/previews/018/930/574/original/tiktok-logo-tikok-icon-transparent-tikok-app-logo-free-png.png" class="social-icon"/>
        </a>
      </p>
    </div>
    <div class="col-2">
    </div>
  </div>
</div>
