<div class="container">
  <div class="row">
    <a [routerLink]="['/']">
      <!--img src="https://images.rappi.https://scontent.flim29-1.fna.fbcdn.net/v/t39.30808-6/448945733_122130634724269641_6814291111113158347_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeE3IXSJqa3j6nByiEM69wWwzNQcRPFgE-zM1BxE8WAT7Merr-L4tUP8evflIMR8KWQJEaiJJ9qr4HGbtMMgKPCe&_nc_ohc=RrfjOyGGZl4Q7kNvgE6BBSm&_nc_zt=23&_nc_ht=scontent.flim29-1.fna&_nc_gid=AvseSAff7Y_ojK7ivGm5ubE&oh=00_AYD3p_biT_J8l2YWYeqk3KAaJAkwuePnE4TPTcxo8s3KaA&oe=6740A1C2/restaurants_logo/23-1719346761784.png?e=webp&d=10x10&q=10" class="social-icon"/-->
      SEVEN | SUSHI & GRILL
    </a>
  </div>
</div>